<div class="max-w-1200" *ngIf="recipe; else emptyState">
  <div class="">
    <figure class="is-4by2 with-caption" *ngIf="recipe.image">
      <img
        class=""
        [src]="recipe.image.file"
        (click)="showImage(recipe.image.file)"
      />
      <h5 class="caption">
        {{ recipe.name }}
      </h5>
    </figure>

    <section
      class="is-flex padding-10 bg-primary justify-space-evenly justify-flex-start-small flex-wrap-small"
    >
      <div class="margin-x-3">
        <i class="fas fa-user fa-fw"></i> {{ recipe.chef.username }}
      </div>
      <div class="margin-x-3">
        <app-rating [rating]="0" [amountOfRatings]="0"></app-rating>
      </div>
      <div class="margin-x-3">
        <i class="fas fa-utensils fa-fw"></i> {{ recipe.portion_size }}
        {{ recipe.portion_type }}
      </div>
      <div class="margin-x-3"><i class="fas fa-clock fa-fw"></i> -</div>
    </section>

    <section *ngIf="recipe.description" class="quote">
      <p class="quote-content">
        {{ recipe.description }}
      </p>
    </section>

    <section class="grid margin-top-10">
      <section class="gray-box">
        <h3 class="title">Ingredients</h3>
        <div class="is-flex is-vertical content">
          <label *ngFor="let ri of recipe.ingredients">
            <input type="checkbox" />
            <span
              ><b
                >{{
                  ri.amount * (displayPortionSize / recipe.portion_size)
                    | number: '1.0-2'
                }}
                {{ ri.unit }}</b
              >
              {{ ri.ingredient.name }}</span
            >
          </label>
        </div>
      </section>

      <section class="gray-box">
        <h3 class="title">Steps</h3>
        <div class="is-flex is-vertical content">
          <label *ngFor="let step of recipe.steps">
            <input type="checkbox" />
            <span> {{ step.description }}</span>
          </label>
        </div>
      </section>
    </section>

    <section class="is-flex justify-center padding-10 is-vertical-small">
      <a
        class="button primary margin-right-5 margin-bottom-5"
        *ngIf="recipe.is_public || isOwner()"
        (click)="showShareModal()"
      >
        <i class="fas fa-share"></i>
        Share this recipe
      </a>

      <a
        class="button primary dropdown dropdown-up margin-right-5 margin-bottom-5"
        *ngIf="isOwner()"
        ><i class="fas fa-pencil-alt"></i> Edit recipe
        <div class="dropdown-items">
          <a class="dropdown-item" (click)="showEditModal()"
            ><i class="fas fa-pencil-alt"></i> Details</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/recipes', recipe.uuid, 'edit', 'ingredients']"
            ><i class="fas fa-pencil-alt"></i> Ingredients</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/recipes', recipe.uuid, 'edit', 'steps']"
            ><i class="fas fa-pencil-alt"></i> Steps</a
          >
          <hr />
          <a class="dropdown-item text-danger" appConfirm
            ><i class="fas fa-trash-alt"></i> Delete Recipe</a
          >
        </div>
      </a>
    </section>
  </div>
</div>

<ng-template #emptyState>
  <app-error type="not-found" [showError]="showEmptyStateError"></app-error>
</ng-template>
