@import 'src/_variables'

$recipe-info-margin: 1rem

.dropdown-menu
    width: 20rem

.recipe-info-container
    display: flex
    justify-content: center

.recipe-info
    margin: $recipe-info-margin 1rem

.recipe-info-hr
    margin-top: 0
    margin-bottom: 1rem

section.without-hr
    margin-top: 3rem

@media screen and ( min-width:1024px )
    .has-border-left-desktop
        border-left: 1px solid $hr-background-color