<div
  class="columns has-margin is-desktop is-centered is-multiline"
  *ngIf="recipe; else emptyState"
>
  <div class="column is-12-tablet is-10-desktop is-9-widescreen is-7-fullhd">
    <h5 class="title is-5">{{ recipe.name }}</h5>
    <figure class="image is-5by3" *ngIf="recipe.image">
      <img
        class="is-cover"
        [src]="recipe.image.file"
        (click)="showImage(recipe.image.file)"
      />
    </figure>

    <section class="recipe-info has-text-centered is-block">
      <span class="icon"><i class="fas fa-utensils"></i></span>
      <span>{{ recipe.portion_size }} {{ recipe.portion_type }}</span>
    </section>

    <hr class="recipe-info-hr" />

    <section *ngIf="recipe.description" class="has-text-centered is-italic">
      {{ recipe.description }}
      <hr />
    </section>

    <div class="columns is-multiline">
      <section class="without-hr column is-12-tablet is-4-desktop">
        <h5 class="title is-6">Ingredients</h5>
        <label
          *ngFor="let ri of recipe.ingredients"
          class="checkbox is-block checkbox-margin"
        >
          <input type="checkbox" />
          <span
            ><b>{{ ri.amount }} {{ ri.unit }}</b> {{ ri.ingredient.name }}</span
          >
        </label>
        <article *ngIf="!recipe.ingredients || !recipe.ingredients.length">
          <button
            class="button"
            *ngIf="isOwner(); else emptyIngredients"
            [routerLink]="['/recipes', recipe.uuid, 'edit', 'ingredients']"
          >
            <span class="icon"><i class="fas fa-plus"></i></span>
            <span>Add ingredients</span>
          </button>
          <ng-template #emptyIngredients>
            <small>No ingredients.</small>
          </ng-template>
        </article>
      </section>

      <section class="without-hr column has-border-left-desktop steps">
        <h5 class="title is-6">Steps</h5>
        <label
          *ngFor="let step of recipe.steps"
          class="checkbox is-block checkbox-margin"
        >
          <input type="checkbox" />
          <span>{{ step.description }}</span>
        </label>
        <article *ngIf="!recipe.steps || !recipe.steps.length">
          <button
            class="button"
            *ngIf="isOwner(); else emptySteps"
            [routerLink]="['/recipes', recipe.uuid, 'edit', 'steps']"
          >
            <span class="icon"><i class="fas fa-plus"></i></span>
            <span>Add Steps</span>
          </button>
          <ng-template #emptySteps>
            <small>No steps.</small>
          </ng-template>
        </article>
      </section>
    </div>

    <!-- Bottom Buttons -->
    <section class="without-hr has-text-centered">
      <!-- Edit Button -->
      <div
        class="dropdown is-up"
        [class.is-active]="recipeEditDropdown"
        *ngIf="isOwner()"
      >
        <div
          class="dropdown-trigger"
          (click)="recipeEditDropdown = !recipeEditDropdown"
        >
          <span class="fa-stack fa-1.5x clickable">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a (click)="showEditModal()" class="dropdown-item">
              Edit Recipe
            </a>
            <a
              class="dropdown-item"
              [routerLink]="['/recipes', recipe.uuid, 'edit', 'ingredients']"
            >
              Edit Ingredients
            </a>
            <a
              [routerLink]="['/recipes', recipe.uuid, 'edit', 'steps']"
              class="dropdown-item"
            >
              Edit Steps
            </a>
            <hr class="dropdown-divider" />
            <a
              class="dropdown-item has-text-danger"
              (confirm)="deleteRecipe()"
              appConfirm
            >
              Remove Recipe
            </a>
          </div>
        </div>
      </div>
      <!-- /Edit Button -->
      <!-- Share Button -->
      <span class="icon is-large clickable" *ngIf="false">
        <span class="fa-stack">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-share fa-stack-1x fa-inverse"></i>
        </span>
      </span>
      <!-- /Share Button -->
    </section>
    <!-- /Bottom Buttons -->
  </div>
</div>

<ng-template #emptyState>
  <app-error type="not-found" [showError]="showEmptyStateError"></app-error>
</ng-template>
