<div *ngIf="recipe; else emptyState">
  <app-hero
    [title]="recipe.name"
    subtitle="@{{ recipe.chef.username }}"
    [subtitleAction]="['/chefs', recipe.chef.uuid]"
  ></app-hero>

  <figure
    *ngIf="recipe.image"
    class="image is-2by1 is-hidden-desktop"
    style="margin-bottom: 10px;"
  >
    <img src="{{ recipe.image.file }}" style="object-fit: cover;" />
  </figure>

  <div class="container" style="margin-top: 10px;">
    <article *ngIf="recipe.description" class="message">
      <div class="message-body">
        {{ recipe.description }}
        <br />
        <br />
        ~ {{ recipe.chef.username }}
      </div>
    </article>
    <div class="columns">
      <div class="column is-3">
        <article class="panel is-primary">
          <p class="panel-heading">Ingredients</p>
          <div class="panel-block">
            <a
              class="tile is-child is-vertical has-text-centered"
              (click)="changePortionSize(-1)"
              ><i class="fa fa-minus-circle"></i
            ></a>
            <p class="tile is-child is-vertical is-10 has-text-centered">
              {{ displayPortionSize }} {{ recipe.portion_type }}
            </p>
            <a
              class="tile is-child is-vertical has-text-centered"
              (click)="changePortionSize(1)"
              ><i class="fa fa-plus-circle"></i
            ></a>
          </div>
          <p
            *ngIf="!recipe.ingredients || !recipe.ingredients.length"
            class="panel-block"
          >
            <small>No ingredients defined.</small>
          </p>
          <a *ngFor="let ingredient of recipe.ingredients" class="panel-block">
            <div class="ingredient">
              <span>&nbsp;{{ ingredient.ingredient.name }}</span>
              <strong
                >{{
                  ingredient.amount * (displayPortionSize / recipe.portion_size)
                }}
                {{ ingredient.unit }}</strong
              >
            </div>
          </a>
        </article>

        <article class="panel is-light">
          <p class="panel-heading">Actions</p>
          <p class="panel-tabs" *ngIf="isOwner()">
            <a
              [class.is-active]="!isShowEditing"
              (click)="isShowEditing = false"
              >All</a
            >
            <a [class.is-active]="isShowEditing" (click)="isShowEditing = true"
              >Edit</a
            >
          </p>
          <ng-template [ngIf]="!isShowEditing">
            <p class="panel-block has-text-grey-light">
              <span class="icon icon-small">
                <i class="fa fa-share"></i>
              </span>
              <span>Share this recipe</span>
            </p></ng-template
          >
          <ng-template [ngIf]="isShowEditing && isOwner()">
            <a class="panel-block" (click)="showEditModal()">
              <span class="icon icon-small">
                <i class="fa fa-edit"></i>
              </span>
              <span>Edit Recipe</span>
            </a>
            <a
              class="panel-block"
              [routerLink]="['/recipes', recipe.uuid, 'edit', 'ingredients']"
            >
              <span class="icon icon-small">
                <i class="fa fa-edit"></i>
              </span>
              <span>Edit Ingredients</span>
            </a>
            <a
              class="panel-block"
              [routerLink]="['/recipes', recipe.uuid, 'edit', 'steps']"
            >
              <span class="icon icon-small">
                <i class="fa fa-edit"></i>
              </span>
              <span>Edit Steps</span>
            </a>
            <a class="panel-block has-text-danger" (click)="deleteRecipe()">
              <span class="icon icon-small">
                <i class="fa fa-trash"></i>
              </span>
              <span>Delete recipe</span>
            </a>
          </ng-template>
        </article>
      </div>

      <div class="column is-9">
        <figure
          *ngIf="recipe.image"
          class="image is-2by1 is-hidden-touch"
          style="margin-bottom: 10px;"
        >
          <img src="{{ recipe.image.file }}" style="object-fit: cover;" />
        </figure>
        <article class="panel">
          <p class="panel-heading">Steps</p>
          <p *ngIf="!recipe.steps || !recipe.steps.length" class="panel-block">
            <small>No steps defined.</small>
          </p>
          <div *ngFor="let step of recipe.steps" class="panel-block">
            <section class="step-container">
              <strong>{{ step.step }}.</strong>&nbsp;
              <span>{{ step.description }}</span>
            </section>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyState>
  <app-error type="not-found"></app-error>
</ng-template>
