@import 'src/_variables'

$recipe-info-margin: 1rem

.recipe-info
    margin-top: $recipe-info-margin
    margin-bottom: $recipe-info-margin

.recipe-info-hr
        margin-top: $recipe-info-margin 

.steps .is-block
    margin-bottom: 1rem

section.without-hr
    margin-top: 3rem

@media screen and ( min-width:1024px )
    .has-border-left-desktop
        border-left: 1px solid $hr-background-color
