<div class="container">
  <header class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ title }}</h1>
        <div class="subtitle">
          <app-autocomplete-search></app-autocomplete-search>
        </div>
      </div>
    </div>
  </header>

  <section
    class="columns is-multiline"
    *ngIf="recipes && recipes.length; else errorBlock"
  >
    <article
      class="column clickable is-6-tablet is-4-desktop is-3-fullhd"
      *ngFor="let recipe of recipes"
      [routerLink]="['/recipes', recipe.uuid]"
    >
      <figure class="image is-5by3">
        <img
          [src]="recipe.image ? recipe.image.file : ''"
          [alt]="recipe.name"
          class="is-cover"
        />
      </figure>
      <section>
        <span class="is-title">{{ recipe.name | ellipsis: 75 }}</span>
        <small class="has-text-grey">{{
          recipe.description
            ? (recipe.description | ellipsis: 100)
            : 'No Description.'
        }}</small>
      </section>
    </article>
  </section>
  <ng-template #errorBlock>
    <app-error type="empty" [showError]="showEmptyStateError"></app-error>
  </ng-template>
</div>
