<main>
  <app-hero [title]="title" [search]="title"></app-hero>

  <section
    class="margin-15 no-margin-small is-grid"
    (scrolled)="onScrolledDown()"
    [infiniteScrollDistance]="1"
    *ngIf="recipePage && recipePage.hasContent(); else errorBlock"
    infiniteScroll
  >
    <article
      *ngFor="let recipe of recipePage.objects"
      [routerLink]="['/recipes', recipe.uuid]"
      class="card clickable"
    >
      <figure class="is-16by9">
        <img
          [src]="
            recipe.image
              ? recipe.image.file
              : 'https://via.placeholder.com/1280x720.png?text=No+Image+available'
          "
          alt="recipe image"
        />
      </figure>
      <div class="content">
        <h3 class="title">
          {{ recipe.name }}
        </h3>
        <p>
          {{
            recipe.description
              ? (recipe.description | ellipsis: 100)
              : 'No Description.'
          }}
        </p>
      </div>
    </article>
  </section>

  <!-- <section
    class="columns is-multiline"
    infiniteScroll
    (scrolled)="onScrolledDown()"
    [infiniteScrollDistance]="1"
    *ngIf="recipePage && recipePage.hasContent(); else errorBlock"
  >
    <article
      class="column clickable is-6-tablet is-4-desktop is-3-fullhd"
      *ngFor="let recipe of recipePage.objects"
      [routerLink]="['/recipes', recipe.uuid]"
    >
      <figure class="image is-16by9">
        <img
          [src]="
            recipe.image
              ? recipe.image.file
              : 'https://via.placeholder.com/1280x720.png?text=No+Image+available'
          "
          [alt]="recipe.name"
          class="is-cover"
        />
      </figure>
      <section>
        <span class="is-title">{{ recipe.name | ellipsis: 75 }}</span>
        <small class="has-text-grey">{{
          recipe.description
            ? (recipe.description | ellipsis: 100)
            : 'No Description.'
        }}</small>
      </section>
    </article>
  </section> -->

  <!-- <div style="display: flex; justify-content: center;" *ngIf="isLoadingPage">
    <app-spinner></app-spinner>
  </div> -->

  <ng-template #errorBlock>
    <app-error type="empty" [showError]="showEmptyStateError"></app-error>
  </ng-template>
</main>
