<app-hero [title]="title"></app-hero>

<section class="container" *ngIf="!showEmptyState; else errorBlock">
  <div class="columns is-multiline">
    <div
      *ngFor="let recipe of recipes"
      class="column is-one-quarter-fullhd is-one-third-desktop is-half"
    >
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              [src]="
                recipe.image
                  ? recipe.image.file
                  : 'https://bulma.io/images/placeholders/1280x960.png'
              "
              alt="{{ recipe.name }} image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <!-- <div class="media-left">
              <figure class="image is-48x48">
                <img
                  src="https://bulma.io/images/placeholders/96x96.png"
                  class="is-rounded"
                  [alt]="recipe.chef.username"
                />
              </figure>
            </div> -->
            <div class="media-content">
              <p class="title is-4">
                <a [routerLink]="['/recipes', recipe.uuid]">{{
                  recipe.name
                }}</a>
              </p>
              <p class="subtitle is-6">
                <a [routerLink]="['/chefs', recipe.chef.uuid]"
                  >@{{ recipe.chef.username }}</a
                >
              </p>
            </div>
          </div>

          <div
            class="content"
            *ngIf="recipe.ingredients && recipe.ingredients.length"
          >
            {{
              recipe.ingredients
                | pluck: 'ingredient.name'
                | ellipsisJoin: ', ':70
            }}
          </div>
          <div
            class="content"
            *ngIf="!recipe.ingredients || !recipe.ingredients.length"
          >
            <small>No ingredients specified</small>
          </div>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <time>{{ recipe.created_date | date }}</time>
          </p>
        </footer>
      </div>
    </div>
  </div>
</section>

<ng-template #errorBlock>
  <app-error type="empty"></app-error>
</ng-template>
