<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <app-form-error
    [action]="errorType"
    (active)="isLoading = false"
  ></app-form-error>
  <div
    class="message"
    formArrayName="ingredients"
    *ngFor="let control of ingredients.controls; let i = index"
  >
    <div
      class="message-header"
      (click)="
        control.get('collapsed').setValue(!control.get('collapsed').value)
      "
    >
      <p>Ingredient {{ i + 1 }}</p>
      <span class="icon">
        <i
          class="fa"
          [class.fa-chevron-down]="control.get('collapsed').value"
          [class.fa-chevron-up]="!control.get('collapsed').value"
        ></i>
      </span>
    </div>
    <div
      class="message-body"
      [formGroupName]="i"
      *ngIf="!control.get('collapsed').value"
    >
      <input type="hidden" formControlName="id" />
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Ingredient</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <app-autocomplete-ingredient
                formControlName="ingredient_uuid"
              ></app-autocomplete-ingredient>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Amount</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="number"
                placeholder="0.5"
                formControlName="amount"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="grams"
                formControlName="unit"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <a class="button is-danger" (confirm)="removeForm(i)" appConfirm
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button
        class="button is-primary"
        type="submit"
        [class.is-loading]="isLoading"
        [disabled]="!ingredientForm.valid"
      >
        Save
      </button>
    </div>
    <div class="control">
      <button class="button is-outlined" type="button" (click)="addForm()">
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span>Add Ingredient</span>
      </button>
    </div>
  </div>
</form>
