<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <app-form-error
    [action]="errorType"
    (active)="isLoading = false"
  ></app-form-error>
  <div
    class="message"
    formArrayName="ingredients"
    *ngFor="let control of ingredients.controls; let i = index"
  >
    <div
      class="message-header"
      (click)="
        control.get('collapsed').setValue(!control.get('collapsed').value)
      "
    >
      <p>Ingredient {{ i + 1 }}</p>
      <span class="toggle">
        <i
          class="fa"
          [class.fa-chevron-down]="control.get('collapsed').value"
          [class.fa-chevron-up]="!control.get('collapsed').value"
        ></i>
      </span>
    </div>
    <div
      class="message-body"
      [formGroupName]="i"
      *ngIf="!control.get('collapsed').value"
    >
      <input type="hidden" formControlName="id" />
      <div class="field">
        <label class="label">Ingredient</label>
        <div class="control">
          <app-autocomplete-ingredient
            formControlName="ingredient_uuid"
          ></app-autocomplete-ingredient>
        </div>
      </div>
      <div class="field">
        <label class="label">Amount</label>
        <div class="control-group">
          <div class="control">
            <input
              class="input"
              type="number"
              placeholder="0.5"
              formControlName="amount"
            />
          </div>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="grams"
              formControlName="unit"
            />
          </div>
        </div>
      </div>
      <div class="is-flex justify-flex-end">
        <a class="button danger" (confirm)="removeForm(i)" appConfirm>Delete</a>
      </div>
    </div>
  </div>

  <section class="is-flex justify-space-between align-center margin-y-10">
    <button class="button primary" type="button" (click)="addForm()">
      <span class="icon"><i class="fas fa-plus"></i></span>
      <span>Add Ingredient</span>
    </button>
    <div>
      <button
        class="button primary outline margin-right-5"
        type="button"
        (click)="expandCollapseAll()"
      >
        <span class="icon"
          ><i
            class="fas"
            [class.fa-expand-arrows-alt]="allCollapsed"
            [class.fa-compress-arrows-alt]="!allCollapsed"
          ></i
        ></span>
      </button>
      <button
        class="button primary"
        type="submit"
        [class.is-loading]="isLoading"
        [disabled]="!ingredientForm.valid"
      >
        Save
      </button>
    </div>
  </section>
</form>
