<div class="modal is-active">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ modal ? modal.data.title : 'title' }}</p>
      <span class="close" aria-label="close" (click)="onModalClose()"
        ><i class="fas fa-times"></i
      ></span>
    </header>
    <section class="modal-card-body">
      <div class="container" appModal></div>
    </section>
    <footer class="modal-card-foot">
      <button
        *ngIf="!modal.data.hideCancel"
        class="button primary outline margin-right-5"
        (click)="onModalClose()"
      >
        Cancel
      </button>
      <button
        *ngIf="!modal.data.hideConfirm"
        class="button primary"
        [disabled]="disabled"
        (click)="onSave()"
        [class.is-loading]="isLoading"
      >
        {{ modal.data.confirmButtonText }}
      </button>
    </footer>
  </div>
</div>
