<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <app-form-error
    [action]="errorType"
    [spacer]="!isModal"
    (active)="isLoading.emit(false)"
  ></app-form-error>
  <input type="hidden" formControlName="uuid" *ngIf="recipeForm.get('uuid')" />
  <!-- Name -->
  <div class="field">
    <label class="label">Name *</label>
    <div class="control">
      <input
        class="input"
        type="text"
        formControlName="name"
        min-length="4"
        required
        appAutofocus
      />
    </div>
  </div>

  <!-- Description -->
  <div class="field">
    <label class="label">Short Description</label>
    <div class="control">
      <textarea
        class="textarea"
        formControlName="description"
        placeholder="Short description like 'my mom used to make it like this'"
      ></textarea>
    </div>
  </div>

  <!-- portion -->
  <div class="field is-grouped">
    <label class="label">Portion</label>
    <div class="control-group">
      <div class="control">
        <input class="input" type="number" formControlName="portion_size" />
      </div>
      <div class="control">
        <input class="input" type="text" formControlName="portion_type" />
      </div>
    </div>
  </div>

  <!-- is_public -->
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" formControlName="is_public" />
        Is public
      </label>
    </div>
  </div>

  <!-- image -->
  <div class="field">
    <label class="label">Image</label>
    <div class="control">
      <app-file-upload
        accept="image/*"
        formControlName="image"
      ></app-file-upload>
    </div>
  </div>

  <div class="field" [class.is-hidden]="isModal">
    <div class="control">
      <button
        class="button primary"
        type="submit"
        [disabled]="!recipeForm.valid"
      >
        Create
      </button>
    </div>
  </div>
</form>
