<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <app-form-error [action]="errorType" [spacer]="!isModal"></app-form-error>
  <input type="hidden" formControlName="uuid" *ngIf="recipeForm.get('uuid')" />
  <!-- Name -->
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Name *</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            formControlName="name"
            min-length="4"
            required
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Description</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <textarea class="textarea" formControlName="description"></textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- portion -->
  <div class="field is-horizontal is-grouped">
    <div class="field-label">
      <label class="label">Portion</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="number" formControlName="portion_size" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="text" formControlName="portion_type" />
        </div>
      </div>
    </div>
  </div>

  <!-- is_public -->
  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <label class="checkbox">
          <input type="checkbox" formControlName="is_public" />
          Is public
        </label>
      </div>
    </div>
  </div>

  <!-- image -->
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Image</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <app-file-upload
            accept="image/*"
            formControlName="image"
          ></app-file-upload>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-grouped-right" [class.is-hidden]="isModal">
    <div class="control">
      <button
        class="button is-primary"
        type="submit"
        [disabled]="!recipeForm.valid"
      >
        Create
      </button>
    </div>
  </div>
</form>
