<nav class="navbar is-white topNav">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="/assets/img/favicon/ms-icon-310x310.png" />
        <span>&nbsp;{{ title }}</span>
      </a>
      <div
        class="navbar-burger burger"
        data-target="topNav"
        aria-label="menu"
        aria-expanded="false"
        [class.is-active]="isDropdownActive"
        (click)="isDropdownActive = !isDropdownActive"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="topNav" class="navbar-menu" [class.is-active]="isDropdownActive">
      <div class="navbar-start">
        <ng-template ngFor let-item [ngForOf]="navbarLinks">
          <a
            *ngIf="!item.auth || user"
            class="navbar-item"
            (click)="onDropdownSelected(item)"
            >{{ item.value }}</a
          ></ng-template
        >
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div *ngIf="user; else loginField" class="field is-grouped">
            <p class="control">
              <a
                class="button is-small is-info is-outlined"
                routerLink="/recipes/create"
              >
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>Add Recipe</span>
              </a>
            </p>
            <app-bulma-dropdown
              [value]="user.username"
              [options]="userDropdownOptions"
              (dropdownSelect)="onDropdownSelected($event)"
            ></app-bulma-dropdown>
          </div>

          <ng-template #loginField>
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-small" (click)="showRegistrationModal()">
                  <span class="icon">
                    <i class="fas fa-user-plus"></i>
                  </span>
                  <span>
                    Register
                  </span>
                </a>
              </p>
              <p class="control">
                <a
                  (click)="showLoginModal()"
                  class="button is-small is-info is-outlined"
                >
                  <span class="icon">
                    <i class="fas fa-user"></i>
                  </span>
                  <span>Login</span>
                </a>
              </p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>
