<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-form-error
    [action]="errorType"
    (active)="isLoading.emit(false)"
  ></app-form-error>
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input
        class="input"
        type="text"
        formControlName="username"
        min-length="4"
        required
        appAutofocus
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input
        class="input"
        type="password"
        formControlName="password"
        min-length="4"
        required
      />
    </div>
  </div>
  <a (click)="showForgotPassword()">Forgot your password?</a>
  <div class="field margin-top-5" [class.is-hidden]="isModal">
    <div class="control">
      <button
        class="button primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </div>
  </div>
</form>
