<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <article class="message is-danger" *ngIf="error">
    <div class="message-body">
      {{ error }}
    </div>
  </article>
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input
        class="input"
        type="text"
        formControlName="username"
        min-length="4"
        required
        appAutofocus
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input
        class="input"
        type="password"
        formControlName="password"
        min-length="4"
        required
      />
    </div>
  </div>
  <div class="field" [class.is-hidden]="isModal">
    <div class="control">
      <button
        class="button is-primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </div>
  </div>
</form>
