<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  cdkDropList
  (cdkDropListDropped)="stepDropped($event)"
>
  <app-form-error
    [action]="errorType"
    (active)="isLoading = false"
  ></app-form-error>

  <ng-template
    ngFor
    let-i="index"
    let-control
    [ngForOf]="steps.controls"
    formArrayName="steps"
  >
    <app-recipe-step-field
      [step]="i + 1"
      (remove)="removeForm($event)"
      [formGroupName]="i"
    ></app-recipe-step-field
  ></ng-template>

  <div class="field is-grouped is-grouped-right">
    <div class="control">
      <button
        class="button is-small is-outlined"
        type="button"
        (click)="addForm()"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button
        class="button is-primary"
        [class.is-loading]="isLoading"
        type="submit"
        [disabled]="!form.valid"
      >
        Save
      </button>
    </div>
  </div>
</form>
