<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  cdkDropList
  (cdkDropListDropped)="stepDropped($event)"
>
  <app-form-error
    [action]="errorType"
    (active)="isLoading = false"
  ></app-form-error>

  <ng-template
    ngFor
    let-i="index"
    let-control
    [ngForOf]="steps.controls"
    formArrayName="steps"
  >
    <app-recipe-step-field
      [step]="i + 1"
      (remove)="removeForm(i)"
      [formGroupName]="i"
    ></app-recipe-step-field
  ></ng-template>

  <div class="field is-grouped">
    <div class="control">
      <button
        class="button is-primary"
        [class.is-loading]="isLoading"
        type="submit"
        [disabled]="!form.valid"
      >
        Save
      </button>
    </div>
    <div class="control">
      <button class="button is-outlined" type="button" (click)="addForm()">
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span>Add Step</span>
      </button>
    </div>
  </div>
</form>
