<div class="dropdown" [class.is-active]="query.value && query.value.length">
  <div class="dropdown-trigger">
    <div class="field">
      <div class="control">
        <input
          class="input"
          [class.no-borders]="noBorders"
          type="text"
          placeholder="Search recipes.."
          [formControl]="query"
        />
        <!-- <span class="icon is-right is-small" *ngIf="hasOutgoingRequests()">
          <i class="fas fa-circle-notch fa-spin"></i>
        </span> -->
      </div>
    </div>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <small
        class="dropdown-item"
        *ngIf="!hasResults() && !hasOutgoingRequests()"
        >No results found.</small
      >
      <small
        class="dropdown-item"
        style="margin-left: -0.5em;"
        *ngIf="results.recipes && results.recipes.length"
        ><b>Recipes</b></small
      >
      <ng-template
        ngFor
        let-result
        [ngForOf]="results.recipes"
        let-latest="last"
      >
        <div
          class="dropdown-item clickable"
          [routerLink]="['/recipes', result.uuid]"
        >
          <p [innerHTML]="result.name | highlight: query.value:40"></p>
          <small class="has-text-grey-light">{{ result.chef.username }}</small>
        </div>
      </ng-template>
    </div>
  </div>
</div>
