@import "../node_modules/bulma/sass/utilities/initial-variables"
@import "../node_modules/bulma/sass/utilities/functions"

@import './_variables'

@import "../node_modules/bulma/sass/utilities/derived-variables"
@import '../node_modules/bulma/bulma'

form .message
    margin-bottom: 1rem
    margin-top: 1rem

.clickable
    cursor: pointer

.is-title
    font-family: serif
    font-size: 1.1em
    display: block

.has-margin
    margin: 1rem