<div class="field has-addons">
  <div class="control">
    <button
      class="button"
      [cdkCopyToClipboard]="link"
      (cdkCopyToClipboardCopied)="showCopiedNotification()"
    >
      Copy
    </button>
  </div>
  <div class="control is-expanded">
    <input class="input" type="text" placeholder="loading..." [value]="link" />
  </div>
  <div class="control" *ngIf="data.isOwner">
    <button class="button has-text-danger" appConfirm (confirm)="removeLink()">
      <span class="icon"><i class="fas fa-trash-alt"></i></span>
    </button>
  </div>
</div>
