<div class="field">
  <div class="control">
    <input class="input" type="text" placeholder="loading..." [value]="link" />
    <span class="is-addon-right">
      <a
        class="button"
        [cdkCopyToClipboard]="link"
        (cdkCopyToClipboardCopied)="showCopiedNotification()"
      >
        Copy
      </a></span
    >
  </div>
</div>
<div class="field">
  <div class="control" *ngIf="data.isOwner">
    <button class="button danger outline" appConfirm (confirm)="removeLink()">
      <span class="icon"
        ><i class="fas fa-trash-alt"></i> Remove public link</span
      >
    </button>
  </div>
</div>
